@page "/changepassword"
@attribute [Authorize]
@using AuthLab.Domain.Entities;
@using AuthLab.Domain.Responses;
@using AuthLab.Host.Authentication;
@using AuthLab.Host.Models;
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using System.ComponentModel.DataAnnotations;

<h3>Смена пароля</h3>

<PageTitle>Смена пароля</PageTitle>

<EditForm Model="@PasswordModel" OnValidSubmit="Sumbit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        Текущий пароль:<br />
        <InputText type="password" id="password" @bind-Value="PasswordModel.CurrentPassword" />
    </p>
    <p>
        Новый пароль:<br />
        <InputText type="password" id="password" @bind-Value="PasswordModel.NewPasswordFirst" />
    </p>
    <p>
        Новый пароль еще раз:<br />
        <InputText type="password" id="password" @bind-Value="PasswordModel.NewPasswordSecond" />
    </p>
    <button type="submit">Submit</button>
</EditForm>
@if (!(DefenderResponse?.IsSuccess ?? true))
{
    <div>
        <p>
            @DefenderResponse.Message
        </p>
    </div>
}

