@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Привет @context.User.Identity!.Name!</h1>
        <br />
        <p>Сменить пароль</p>
        <button @onclick="ChangePassRedirect">Изменить пароль</button>
    </Authorized>
    <NotAuthorized>
        <h1>Привет гость!</h1>
        <br />
        <p>Вы не авторизованы</p>
    </NotAuthorized>
</AuthorizeView>

@code{
    [Inject] NavigationManager navigationManager { get; set; } = null!;

    void ChangePassRedirect()
    {
        navigationManager.NavigateTo("/changepassword", true);
    }
}
